.row {
  margin-right: 0%;
}

.mainWrapperDay {
  padding-left: 2%;
  color: white;
  background: url('./images/dayBG.jpg') no-repeat center center fixed;
}

.mainWrapperNight {
  padding-left: 2%;
  color: white;
  background: url('./images/nightBG.jpg') no-repeat center center fixed;
}

#locationName {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 0px;
}

#locationChange {
  display: inline-block;
  padding: 6px;
}

button {
  background-color: rgba(117, 108, 108, 0.61);
}

.locationPicker {
  color: gold;
}

.header-bot,.header-top {
  text-align: left;
  margin-left: 0%;
}

#country {
  margin-top: 3px;
}

#tempDescr {
  font-size: 16pt;
}

#currentTemp {
  font-size: 65pt;
  margin-top: 0px;
  display: inline-block;
}

#currentHigh {
  margin-right: 2%;
}

#currentHigh,#currentLow {
  font-size: 19pt;
}

.header-bot {
  margin-top: 15%;
}

.header-bot img {
  margin-right: 8px;
}

#metricControl {
  display: inline-block;
  margin-left: 1%;
  font-size: large;
}

/*==================================*/
/*Forecast Section*/
.sectionWrapper {
  background-color: rgba(0,0,0,0.54);
  margin-right: 2%;
  margin-top: 2%;
  width: 98%;
}

.sectionWrapper.detail {
  padding-bottom: 4%;
}

th {
  font-size: 14pt;
  font-weight: normal;
  padding-bottom: 8px;
  padding-top: 2%;
  border-bottom: 1px solid white;
}

td {
  padding-bottom: 4px;
  padding-top: 15px;
  width: 1%;
}

i {
  display: block;
  margin-left: 10%;
  color: skyblue;
  font-size: 20pt;
}

/*=============================*/
/*Forecast Table*/

#forecastTable, #detailsTable, #mapTable {
  width: 96%;
  text-align: left;
  font-size: 13pt;
  margin-left: 2%;
  display: block;
}

#hourlyForecastWrapper {
  overflow-x: auto;
  display: block;
  white-space: nowrap;
}

.hourlyData {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
}

.hourlyData div {
  text-align: center;
}

.pop {
  margin-left: 10%;
}

.forecastRows {
  margin-bottom: 1%;
  cursor: pointer;
}

.textForecastRow {
  border-bottom: 1px dotted rgba(255,255,255,.12);
}

.forecastToggle, .metricToggle {
  cursor: pointer;
}

.forecastToggleOff, .metricToggleOff {
  color: grey;
}

/*=============================*/
/*Detail Table*/
/*=============================*/

#detailIcon {
  padding-right: 35px;
}

#detailIcon img {
  width: 100px;
  height: 100px;
  margin-left: 20%;
}

.detailLabel {
  padding-top: 2px;
  padding-bottom: 8px;
  padding-right: 30px;
  text-align: left;
}

.detailValue {
  padding-top: 2px;
  padding-bottom: 5px;
  text-align: right;
}

.detailTextForecast {
  padding-bottom: 10px;
}

.tempLow {
  color: skyblue;
}

/*====================*/
/*Phases*/
/*====================*/

#phaseTable {
  margin-left: 2%;
  width: 96%;
}

.phaseIcon {
  margin-left: 0%;
  font-size: 35pt;
}

/*===================*/
/*Map*/
/*===================*/

#mapTable td {
  height: 320px;
  padding-top: 5px;
  padding-bottom: 15px;
}
