* {
  font-family: 'Abhaya Libre', serif;
}

form, h4 {
  color: white;
}

form h4 {
  text-decoration: underline;
}

.form-group {
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 45px;
}

ul {
  margin-left: 33%;
  margin-right: 33%;
}

li {
  color: white;
  list-style: none;
  padding: 5px;
  margin-right: 15%;
}

li span:hover {
  cursor: pointer;
  color: teal;
}
