.mainWrapper {
  margin-left: 2%;
  color: white;
}

#locationName {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 0px;
}

#locationChange {
  display: inline-block;
  padding: 6px;
}

button {
  background-color: rgba(117, 108, 108, 0.61);
}

.locationPicker {
  color: gold;
}

.header-bot,.header-top {
  text-align: left;
}

.header-bot {
  margin-top: 15%;
}

#forecastTable {
  background-color: seagreen;
  border: 1px solid white;
  width: 100%;
  text-align: left;
}

.tempLow {
  color: skyblue;
}
